
Orders Register/obj/Debug/Orders Register_MarkupCompile.lref
*.cache
*.lref
*.baml
Orders Register/obj/Debug/New Order/NewOrder.g.cs
Orders Register/obj/Debug/New Order/NewOrder.g.cs
Orders Register/obj/Debug/New Order/NewOrder.g.i.cs
.vs/Orders Register/v16/.suo
Orders Register/bin/Debug/Orders Register.exe
Orders Register/bin/Debug/Orders Register.pdb
Orders Register/obj/Debug/Companies Register/CompaniesRegister.g.cs
Orders Register/obj/Debug/Companies Register/CompaniesRegister.g.i.cs
Orders Register/obj/Debug/Food Register/FoodRegister.g.cs
Orders Register/obj/Debug/Food Register/FoodRegister.g.i.cs
Orders Register/obj/Debug/MainWindow.g.cs
Orders Register/obj/Debug/MainWindow.g.i.cs
Orders Register/obj/Debug/New Order for a Company/NewOrderForCompany.g.cs
Orders Register/obj/Debug/New Order for a Company/NewOrderForCompany.g.i.cs
